n8n-workflow/liozshor-workflows/DjIXYUiERMe-vMYnAImuO-_Admin_Bulk_Import.json
{
  "name": "[Admin] Bulk Import",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "admin-bulk-import",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "9f15e10b-f7ba-4231-ae48-3d224aff341c",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -656,
        112
      ],
      "webhookId": "admin-bulk-import-webhook"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// TOKEN VERIFICATION & INPUT VALIDATION\n// ============================================\nconst SECRET_KEY = 'QKiwUBXVH@%#1gD7t@rB]<,dM.[NC5b_'; // ← MUST MATCH AUTH!\n\nconst crypto = require('crypto');\nconst body = $input.first().json.body || {};\nconst token = body.token || '';\nconst year = parseInt(body.year) || 2024;\nconst clients = body.clients || [];\n\nfunction verifyToken(token) {\n  try {\n    if (!token || !token.includes('.')) return false;\n    const [dataB64, signature] = token.split('.');\n    const data = Buffer.from(dataB64, 'base64').toString();\n    const expectedSig = crypto.createHmac('sha256', SECRET_KEY).update(data).digest('hex');\n    if (signature !== expectedSig) return false;\n    const payload = JSON.parse(data);\n    if (payload.exp < Date.now()) return false;\n    return true;\n  } catch (e) {\n    return false;\n  }\n}\n\nif (!verifyToken(token)) {\n  return {\n    json: {\n      ok: false,\n      error: 'unauthorized',\n      shouldContinue: false\n    }\n  };\n}\n\nif (!clients || clients.length === 0) {\n  return {\n    json: {\n      ok: false,\n      error: 'No clients provided',\n      shouldContinue: false\n    }\n  };\n}\n\n// Pass data forward\nreturn {\n  json: {\n    ok: true,\n    year: year,\n    clients: clients,\n    shouldContinue: true\n  }\n};"
      },
      "id": "9e52e7e9-4759-4cf5-82d2-f6f7b0dc1678",
      "name": "Verify & Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-continue",
              "leftValue": "={{ $json.shouldContinue }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "04812d6a-a694-45b0-83ec-d0ad82366a38",
      "name": "If Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -224,
        112
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appqBL5RWQN9cPOyh",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblFFttFScDRZ7Ah5",
          "mode": "id"
        },
        "options": {}
      },
      "id": "3c3ff4c0-f02c-4615-968a-f8638e6c03cc",
      "name": "Get Existing Clients",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ODW07LgvsPQySQxh",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get existing clients from Airtable\nconst existingClients = $('Get Existing Clients').all().map(item => item.json);\nconst existingEmails = new Set(existingClients.map(c => (c.email || '').toLowerCase()));\n\n// Get input data from Verify node\nconst inputData = $('Verify & Extract').first().json;\nconst year = inputData.year;\nconst newClients = inputData.clients || [];\n\nconst crypto = require('crypto');\n\n// Filter out duplicates and prepare for creation\nconst toCreate = [];\nlet skipped = 0;\n\nfor (const client of newClients) {\n  const email = (client.email || '').toLowerCase().trim();\n  const name = (client.name || '').trim();\n  \n  if (!email || !name) {\n    skipped++;\n    continue;\n  }\n  \n  if (existingEmails.has(email)) {\n    skipped++;\n    continue;\n  }\n  \n  // Add to creation list\n  toCreate.push({\n    name: name,\n    email: email,\n    questionnaire_token: crypto.randomUUID(),\n    report_uid: crypto.randomUUID()\n  });\n  \n  // Mark as existing to avoid duplicates within the batch\n  existingEmails.add(email);\n}\n\n// Store metadata for later\nreturn {\n  json: {\n    year: year,\n    toCreate: toCreate,\n    skipped: skipped,\n    total: toCreate.length\n  }\n};"
      },
      "id": "bcbfbb84-5d64-4fbc-9442-4d7dff4db5f6",
      "name": "Filter Duplicates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Check if there are clients to create\nconst data = $input.first().json;\n\nif (data.total === 0) {\n  return {\n    json: {\n      ok: true,\n      created: 0,\n      skipped: data.skipped,\n      message: 'No new clients to import (all duplicates)',\n      clients: []\n    }\n  };\n}\n\n// Output each client as separate item for batch processing\nconst items = data.toCreate.map(client => ({\n  json: {\n    ...client,\n    year: data.year,\n    skippedCount: data.skipped\n  }\n}));\n\nreturn items;"
      },
      "id": "986c05ac-8d0c-4078-be12-b55ad7a6189e",
      "name": "Split Clients",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appqBL5RWQN9cPOyh",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblFFttFScDRZ7Ah5",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $('Verify & Extract').last().json.clients[0].name }}",
            "email": "={{ $('Verify & Extract').last().json.clients[0].email }}",
            "is_active": true
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false
            },
            {
              "id": "is_active",
              "displayName": "is_active",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "6006a754-c403-404a-a310-14e12df3e70f",
      "name": "Create Client",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        672,
        0
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ODW07LgvsPQySQxh",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appqBL5RWQN9cPOyh",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tbls7m3hmHC4hhQVy",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "client": "={{ [ $json.id ] }}",
            "year": "={{ $('Verify & Extract').first().json.year }}",
            "stage": "1-Send_Questionnaire",
            "last_progress_check_at": "2026-01-19T15:53:18",
            "questionnaire_token": "={{ $json.questionnaire_token }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "report_key",
              "displayName": "report_key",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "client",
              "displayName": "client",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "send_questionnaire",
              "displayName": "send_questionnaire",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "year",
              "displayName": "year",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "stage",
              "displayName": "stage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "1-Send_Questionnaire",
                  "value": "1-Send_Questionnaire"
                },
                {
                  "name": "2-Waiting_For_Answers",
                  "value": "2-Waiting_For_Answers"
                },
                {
                  "name": "3-Collecting_Docs",
                  "value": "3-Collecting_Docs"
                },
                {
                  "name": "4-Review",
                  "value": "4-Review"
                },
                {
                  "name": "5-Completed",
                  "value": "5-Completed"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "questionnaire_token",
              "displayName": "questionnaire_token",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "report_uid",
              "displayName": "report_uid",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "questionnaire_link_he",
              "displayName": "questionnaire_link_he",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "questionnaire_link_en",
              "displayName": "questionnaire_link_en",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "last_progress_check_at",
              "displayName": "last_progress_check_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "documents",
              "displayName": "documents",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "email_events",
              "displayName": "email_events",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "docs_total",
              "displayName": "docs_total",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "docs_missing_count",
              "displayName": "docs_missing_count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "docs_received_count",
              "displayName": "docs_received_count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "completion_percent",
              "displayName": "completion_percent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "completion_status_auto",
              "displayName": "completion_status_auto",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "client_id",
              "displayName": "client_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "record_id",
              "displayName": "record_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "client_email",
              "displayName": "client_email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "client_name",
              "displayName": "client_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "spouse_name",
              "displayName": "spouse_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "source_language",
              "displayName": "source_language",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "he",
                  "value": "he"
                },
                {
                  "name": "en",
                  "value": "en"
                }
              ],
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "16e3db18-fb75-4d98-a041-53fddc685583",
      "name": "Create Annual Report",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1088,
        0
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ODW07LgvsPQySQxh",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Count results\nconst created = $input.all().length;\nconst skipped = $('Split Clients').first().json.skippedCount || 0;\n\nreturn {\n  json: {\n    ok: true,\n    created: created,\n    skipped: skipped\n  }\n};"
      },
      "id": "c6ad145f-e402-4e66-aee2-7a19ad93de4a",
      "name": "Count Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "2fa2ceca-3723-45b2-83ff-72210fefa966",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1536,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "23b3977e-9789-4d60-bdbf-c6053f2ece7e",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        0,
        208
      ]
    },
    {
      "parameters": {
        "action": "generate",
        "dataPropertyName": "questionnaire_token",
        "encodingType": "hex"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        880,
        0
      ],
      "id": "f8c96c4e-49df-46b6-bcd6-7603abadc2c6",
      "name": "Crypto"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Verify & Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify & Extract": {
      "main": [
        [
          {
            "node": "If Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Valid": {
      "main": [
        [
          {
            "node": "Get Existing Clients",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Clients": {
      "main": [
        [
          {
            "node": "Filter Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Duplicates": {
      "main": [
        [
          {
            "node": "Split Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Clients": {
      "main": [
        [
          {
            "node": "Create Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Client": {
      "main": [
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Annual Report": {
      "main": [
        [
          {
            "node": "Count Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count Results": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto": {
      "main": [
        [
          {
            "node": "Create Annual Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "liozshor.app.n8n.cloud",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36",
            "content-length": "234",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "he-IL,he;q=0.9,en-US;q=0.8,en;q=0.7",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2a00:a040:192:6db7:c193:9c0b:66cc:c2d7",
            "cf-ew-via": "15",
            "cf-ipcountry": "IL",
            "cf-ray": "9c06d41171dd6361-LHR",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "origin": "https://liozshor.github.io",
            "priority": "u=1, i",
            "referer": "https://liozshor.github.io/",
            "sec-ch-ua": "\"Google Chrome\";v=\"143\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "2a00:a040:192:6db7:c193:9c0b:66cc:c2d7, 172.69.194.254",
            "x-forwarded-host": "liozshor.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-15-6cb64f5ddc-fd6vs",
            "x-is-trusted": "yes",
            "x-real-ip": "2a00:a040:192:6db7:c193:9c0b:66cc:c2d7"
          },
          "params": {},
          "query": {},
          "body": {
            "token": "eyJleHAiOjE3Njg5MTY3OTI0MzQsImlhdCI6MTc2ODgzMDM5MjQzNCwidHlwZSI6ImFkbWluIn0=.4fd5f778190f425ab3be793331119a77f6bb3a9e5209f0b1cb8aa0981f5ef66b",
            "year": 2025,
            "clients": [
              {
                "name": "לקוח חדש",
                "email": "liozshor1@gmail.com"
              }
            ]
          },
          "webhookUrl": "https://liozshor.app.n8n.cloud/webhook/admin-bulk-import",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}