n8n-workflow/liozshor-workflows/REInXxiZ-O6cxvldci3co-_Admin_Auth_Verify.json
{
  "name": "[Admin] Auth & Verify",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "admin-auth",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "3a9469b1-963d-45a7-8292-a51dd38325b8",
      "name": "Auth Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "admin-auth-webhook"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// ADMIN PORTAL AUTHENTICATION\n// ============================================\n// IMPORTANT: Change these values!\nconst ADMIN_PASSWORD = 'reports3737!'; \nconst SECRET_KEY = 'QKiwUBXVH@%#1gD7t@rB]<,dM.[NC5b_'; \n\nconst crypto = require('crypto');\n\n// Get password from request body\nconst password = $input.first().json.body?.password || '';\n\n// Check password\nif (password !== ADMIN_PASSWORD) {\n  return {\n    json: {\n      ok: false,\n      error: 'Invalid password'\n    }\n  };\n}\n\n// Generate token (valid for 24 hours)\nconst payload = {\n  exp: Date.now() + (24 * 60 * 60 * 1000), // 24 hours\n  iat: Date.now(),\n  type: 'admin'\n};\n\nconst data = JSON.stringify(payload);\nconst signature = crypto.createHmac('sha256', SECRET_KEY).update(data).digest('hex');\nconst token = Buffer.from(data).toString('base64') + '.' + signature;\n\nreturn {\n  json: {\n    ok: true,\n    token: token\n  }\n};"
      },
      "id": "9afec090-a89c-43db-bc85-c05560a3fdb4",
      "name": "Validate & Generate Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "79856d8c-89c8-422e-9ed3-7d327eb34abb",
      "name": "Respond Auth",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "path": "admin-verify",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "8f100fcf-4354-4389-98ae-bee1b53b32e1",
      "name": "Verify Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        224
      ],
      "webhookId": "admin-verify-webhook"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// TOKEN VERIFICATION\n// ============================================\n// IMPORTANT: Must match the SECRET_KEY in Auth!\nconst SECRET_KEY = 'QKiwUBXVH@%#1gD7t@rB]<,dM.[NC5b_'; \n\nconst crypto = require('crypto');\n\n// Get token from query parameter\nconst token = $input.first().json.query?.token || '';\n\nfunction verifyToken(token) {\n  try {\n    if (!token || !token.includes('.')) return false;\n    \n    const [dataB64, signature] = token.split('.');\n    const data = Buffer.from(dataB64, 'base64').toString();\n    const expectedSig = crypto.createHmac('sha256', SECRET_KEY).update(data).digest('hex');\n    \n    if (signature !== expectedSig) return false;\n    \n    const payload = JSON.parse(data);\n    if (payload.exp < Date.now()) return false; // Expired\n    \n    return true;\n  } catch (e) {\n    return false;\n  }\n}\n\nconst isValid = verifyToken(token);\n\nreturn {\n  json: {\n    ok: isValid\n  }\n};"
      },
      "id": "139cdffa-ced7-4086-8045-e791f6590359",
      "name": "Verify Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        224
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "ef2dd0ad-c1ae-4b61-9993-2836f15e2736",
      "name": "Respond Verify",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        448,
        224
      ]
    }
  ],
  "connections": {
    "Auth Webhook": {
      "main": [
        [
          {
            "node": "Validate & Generate Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Generate Token": {
      "main": [
        [
          {
            "node": "Respond Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Webhook": {
      "main": [
        [
          {
            "node": "Verify Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Token": {
      "main": [
        [
          {
            "node": "Respond Verify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 2,
  "meta": null
}