n8n-workflow/liozshor-workflows/s7u7iZkk2OrKYQq4CVedd-_Admin_Pending_Clients.json
{
  "name": "[Admin] Pending Clients",
  "nodes": [
    {
      "parameters": {
        "path": "admin-pending",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "467365b5-8238-4695-8b6c-c2b3f52a3f86",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -656,
        112
      ],
      "webhookId": "admin-pending-webhook"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// TOKEN VERIFICATION\n// ============================================\nconst SECRET_KEY = 'QKiwUBXVH@%#1gD7t@rB]<,dM.[NC5b_'; // â† MUST MATCH AUTH!\n\nconst crypto = require('crypto');\nconst token = $input.first().json.query?.token || '';\nconst year = $input.first().json.query?.year || '2024';\n\nfunction verifyToken(token) {\n  try {\n    if (!token || !token.includes('.')) return false;\n    const [dataB64, signature] = token.split('.');\n    const data = Buffer.from(dataB64, 'base64').toString();\n    const expectedSig = crypto.createHmac('sha256', SECRET_KEY).update(data).digest('hex');\n    if (signature !== expectedSig) return false;\n    const payload = JSON.parse(data);\n    if (payload.exp < Date.now()) return false;\n    return true;\n  } catch (e) {\n    return false;\n  }\n}\n\nif (!verifyToken(token)) {\n  return {\n    json: {\n      ok: false,\n      error: 'unauthorized',\n      shouldQuery: false\n    }\n  };\n}\n\nreturn {\n  json: {\n    ok: true,\n    year: parseInt(year),\n    shouldQuery: true\n  }\n};"
      },
      "id": "16e8acc2-e432-4c7b-ac0a-148f71275f1c",
      "name": "Verify Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-auth",
              "leftValue": "={{ $json.shouldQuery }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "19694159-21e1-4d96-8118-a7f96d5bb986",
      "name": "If Authorized",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -224,
        112
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appqBL5RWQN9cPOyh",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tbls7m3hmHC4hhQVy",
          "mode": "id"
        },
        "filterByFormula": "=AND({year}={{ $('Verify Token').item.json.year }}, {stage}='1-Send_Questionnaire')",
        "options": {}
      },
      "id": "985a0ddf-4840-4b92-9277-2fa024536588",
      "name": "Get Pending Reports",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ODW07LgvsPQySQxh",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format pending clients for response\nconst reports = $input.all().map(item => item.json);\n\nconst clients = reports.map(report => ({\n  report_id: report.id,\n  name: report.client_name?.[0] || report.client_name || 'Unknown',\n  email: report.client_email?.[0] || report.client_email || ''\n}));\n\n// Sort by name\nclients.sort((a, b) => (a.name || '').localeCompare(b.name || '', 'he'));\n\nreturn {\n  json: {\n    ok: true,\n    clients: clients\n  }\n};"
      },
      "id": "9cd4aa91-b829-4823-91d7-6b20c2e90d8a",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "c31ae979-53a6-45d8-9cb8-f1b0865a4bee",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "4f337f6b-7bf1-4a66-ba8b-7fa533b95689",
      "name": "Respond Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        0,
        208
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Verify Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Token": {
      "main": [
        [
          {
            "node": "If Authorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Authorized": {
      "main": [
        [
          {
            "node": "Get Pending Reports",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Reports": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}