n8n-workflow/liozshor-workflows/yF7gKmxgj6BfAFkd-_04b_Document_Manager_HTML_Interface.json
{
  "name": "[04b] Document Manager - HTML Interface",
  "nodes": [
    {
      "parameters": {
        "path": "document-manager",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "name": "Webhook - Serve HTML",
      "type": "n8n-nodes-base.webhook",
      "position": [
        0,
        0
      ],
      "webhookId": "doc-manager-html",
      "id": "8e6dad82-71ba-42a7-9f76-7b30e06de483",
      "typeVersion": 2.1
    },
    {
      "parameters": {},
      "name": "Code - Build HTML",
      "type": "n8n-nodes-base.code",
      "position": [
        224,
        0
      ],
      "id": "24eb2e7a-c316-484a-b360-c75b1de63b46",
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "name": "Respond - HTML",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        448,
        0
      ],
      "id": "c3a87e89-91b0-4646-a0a7-1e6223f72d70",
      "typeVersion": 1.5
    },
    {
      "parameters": {
        "path": "get-documents",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "name": "Webhook - Get Documents",
      "type": "n8n-nodes-base.webhook",
      "position": [
        0,
        208
      ],
      "webhookId": "get-docs-api",
      "id": "dbe26920-5afe-48e3-b053-17d77df9d3fc",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appqBL5RWQN9cPOyh",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblcwptR63skeODPn",
          "mode": "id"
        },
        "filterByFormula": "=AND(FIND('{{ $json.query.report_id }}', ARRAYJOIN({report_record_id})), {status}='Required_Missing')",
        "options": {}
      },
      "name": "Airtable - Fetch Docs",
      "type": "n8n-nodes-base.airtable",
      "position": [
        224,
        208
      ],
      "id": "ec4e3db9-5e19-496e-9283-2bab67beef4c",
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "ODW07LgvsPQySQxh",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {},
      "name": "Code - Format Response",
      "type": "n8n-nodes-base.code",
      "position": [
        448,
        208
      ],
      "id": "090100eb-1e59-4a86-9842-34ae510734f0",
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "name": "Respond - JSON",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        672,
        208
      ],
      "id": "7424fe10-2301-4cde-b433-832f4ea4c1f6",
      "typeVersion": 1.5
    }
  ],
  "connections": {
    "Webhook - Serve HTML": {
      "main": [
        [
          {
            "node": "Code - Build HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build HTML": {
      "main": [
        [
          {
            "node": "Respond - HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Get Documents": {
      "main": [
        [
          {
            "node": "Airtable - Fetch Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable - Fetch Docs": {
      "main": [
        [
          {
            "node": "Code - Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Format Response": {
      "main": [
        [
          {
            "node": "Respond - JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 2,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}